/* -------------------------------------------

Name: 		Starbelly
Version:  1.0
Author:		Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). mail: miller.themes@gmail.com

------------------------------------------- */
/*--------------------------------------------

1. common
      - fonts
      - preloader
      - typography
      - group title
      - list
      - pagination
      - instagram
      - keywords
      - slider navigation
      - breadcrumbs
      - badge
      - stars
      - social icons
      - buttons
      - mobile menu button
      - click effect
      - page transitions
      - settings
      - animations
      - spaces
      - grid
2. frame
      - wrapper
      - top bar
      - navigation
      - footer
      - info bar
      - minicart
3. content
      - banner
      - features
      - menu
      - call to action
      - popup
      - promo
      - reviews
      - author
      - contact
      - map
      - blog
      - sidebar
      - gallery
      - filter
      - team
      - categories
      - radio
      - product
      - tabs
      - faq
      - datepicker
4. shop
      - minicart button
      - cart
      - add to cart button
      - checkout
6. illustrations
      - background
      - illustration 1
      - illustration 1 (2)
      - illustration 1 (404)
      - illustration 2
      - illustration 3
      - illustration 4
      - illustration 5
      - illustration 6
      - illustration 7
      - illustration 8
      - illustration 9

--------------------------------------------*/
@import 'variables';
@import 'common';
@import 'frame';
@import 'content';
@import 'shop';
@import 'illustrations';
